.cartEmpty__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top:70px;
    .cartEmpty__title{
        margin-top:21px;
        font-size: 20px;
        font-weight: bold;
        color:#6E6E78;
    }
    .cartEmpty__desc{
        margin-top:11px;
        font-size:14px;
        display: flex;
        justify-content: center;
        color:#95959E;
    }
    .cartEmpty__btn{
        margin-top:17px;
        width:164px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3369E8;
        border-radius: 5px;
        a{
            color: white;
            font-size:12px;
        }
    }
    
}
