.tag_slid__container{
    overflow: hidden;
    .list{
        display: flex;
        .item{
            flex-shrink: 0;
            background:#3369E8;
            color:white;
            padding:5px;
            border-radius: 5px;
            font-size: 12px;
        }
        .item:first-child{
            margin-left:8px;
        }
        .item.disable{
            background: white;
            color: #3369E8;
        }
    }
}